<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Primary name:</strong>
    <%= contact.primary_name %>
  </p>

  <p>
    <strong>Secondary name:</strong>
    <%= contact.secondary_name %>
  </p>

</div>
