<p style="color: green"><%= notice %></p>


<div id="contacts">
  <% @contacts.each do |contact| %>
    <p>
      <%= link_to contact.name, contact %>
    </p>
  <% end %>
</div>

<%= link_to "New contact", new_contact_path %>
