<p style="color: green"><%= notice %></p>

<%= render @contact %>

<div>
  <%= link_to "Edit this contact", edit_contact_path(@contact) %> |

  <%= link_to "Destroy this contact", @contact, "data-trubo-method": :delete %>
</div>
